@model MIS4200Team6.Models.CoreValueLeaderBoard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoreValueLeaderBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Registrar.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registrar.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Centric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Centric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TodaysDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TodaysDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.leaderboardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
